.uc {
    width: 200px;
    margin: 0 auto;
}

.uc .bioo {
    padding: 10px;
    border-radius: 8px;
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.name {
    font-size: 20px;
    padding: 10px;
}

.right .post-btn{
    text-align: center!important;
}

.uc .bioo .avatar img {
    width: 80px !important;
    height: 80px !important;
}

.toubi {
    background: var(--primary);
    border-radius: 8px;
    width: 100%;
    margin: 10px 0;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    padding: 5px;
    /* box-shadow: inset 4px 4px 5px var(--secondary-bg); */
    /* border: 1px dashed var(--secondary); */
    color: #555;
}

.logout {
    background: #fff;
    padding: 5px;
    color: #ff6060;
    border: none;
    box-shadow: 0px 0px 0px;
}


.post-btn {
    color: var(--secondary);
    font-size: 18px;
    text-align: right;
    padding: 10px;
    cursor: pointer;
}