.avatar {
    display: flex;
    align-items: center;
    position: relative;
}


.avatar img {
    height: 35px !important;
    width: 35px !important;
    border-radius: 50%;
    cursor: pointer;
    /* margin-right: 20px; */
}

.avatar .info p{
    padding: 0 10px;
}

.avatar .info b{
    color: #bbb;
    font-size: 12px;
    padding: 0 10px;
    font-weight: normal;
}

.replies .avatar img{
    height: 25px!important;
    width: 25px!important;
}