header nav {
    background: var(--bg);
    padding: 0;
    font-size: 18px;
}

header {
    background: #fff;
}

header ul {
    display: flex;

}


header .top .band{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

header .logo {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background: url(https://dd-static.jd.com/ddimgp/jfs/t20261105/349182/19/9331/14478/68dd3235F0dc0e140/4ab0526972adb389.jpg);
    background-size: 100%;
}

header .top h1{
    font-weight: bolder;
    font-family: '宋体';

}

header ul li {
    padding: 10px 10px;
    cursor: pointer;
}

header ul li.active {
    font-weight: bold;
    background: url(https://www.ciweimao.com/resources/image/icon-cat-claw.png) no-repeat center bottom !important;
    color: #ffc107;
}

header .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .search {
    display: flex;
}

.search input {
    width: 200px;
    border: 0;
    padding: 8px 10px;
    border: 1px solid #ffde59;
    border-radius: 8px 0 0 8px;
}

.search button{
    border-radius: 0 8px 8px 0!important;
    background: #ffde59;
    font-size: 15px;
}

.menu button{
    background: var(--secondary);
    color: #fff;
    font-size: 15px;
    border-radius: 17px;
}

.search button {
    padding: 5px 20px;
}

header nav .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .bio {
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: end;
}

.top .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding-right: 20px;
}