.container {
    display: flex;
    justify-content: center;
}

.container .bio button {
    font-size: 16px;
    background: var(--secondary-bg);
    color: var(--secondary);
    font-weight: bold;
    height: 30px;
    padding: 2px 15px;

}

.left,
.center,
.right {
    border-radius: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.center {
    flex: 1;
    min-height: 100vh;
    max-width: 690px;
    margin-right: 10px;
}

.left {
    min-width: 220px;
    margin-top: 20px;
}

.right {
    min-width: 300px;
    max-width: 300px;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

.iconfont {
    font-size: 24px;
    padding: 5px;
}

.center li {
    background: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.bio {
    display: flex;
    align-content: space-between;

    justify-content: space-between;
}

section {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

section h1 {
    font-size: 18px;
    position: relative;
    padding: 0;
    display: inline-block;
    margin-bottom: 10px;
}

.news li {
    padding: 5px;
}

section h1::before {
    content: "";
    width: 10px;
    height: 10px;
    border-bottom: 5px solid var(--primary);
    color: var(--primary);
    transform: rotate(-45deg);
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
}

.news li::before {
    content: "公告";
    background: var(--secondary-bg);
    font-size: 12px;
    color: var(--primary);
    padding: 2px;
    border-radius: 5px;
    margin-right: 5px;
}

.authors .bio {
    padding: 10px;
    border-top: 1px dashed #eee;
}

.icon-robot-fill {
    font-size: 30px;
}

.replies .likes {
    padding: 10px 10px 5px 10px;
    /* border-bottom: 1px solid var(--primary-bg); */
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions div {
    display: flex;
    align-items: center;
}

.actions .iconfont {
    font-size: 20px;
    color: #444;
}

.actions li {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.replies {
    background: var(--secondary-bg);
    /* color: var(--primary2); */
    border-radius: 8px;
    overflow: hidden;
}
.del{
    color: #bbb;
    font-size: 12px;
}
.replies li {
    background: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0 !important;
    overflow: hidden;
}

.replies p {
    /* color: var(--primary) !important; */
    font-weight: normal !important;
    padding: 0 !important;
}

.replies img {
    height: 25px !important;
    width: 25px !important;
    margin: 5px;
}

.cat li {
    background: #fff;
    border-radius: 30px;
    margin: 10px 5px;
    padding: 5px 15px;

}

.cat {
    display: flex;
}

.tagtree li {
    border-radius: 8px;
    background: #fff;
    padding: 10px;
    margin: 10px 5px;
}

.tagtree li::before {
    content: "#";
    color: var(--secondary);
    font-weight: bold;
    padding: 2px;
}

.tagtree li ul li {
    margin: 0;
    padding: 5px;
}

.tagtree li ul {
    display: flex;
}

.cat .active {
    border: 1px solid var(--primary);
    background: var(--primary-bg);
    color: var(--primary);
}

.motal {
    position: fixed;
    min-width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    z-index: 9999;
    padding: 10px;
    text-align: right;
}

.motal-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.motal-content p {
    padding: 0 10px;
}

.icon-close {
    cursor: pointer;
}

.mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 999;
}