* {
    margin: 0;
    padding: 0;
}

body {
    background: #f8f8f8;
    font-size: 14px;
    list-style: none;
    color: var(--color);
    /* background: linear-gradient(to bottom, #fdf9f0 0%, #fff 100%);
    background-size: 100% 100px;
    background-repeat: no-repeat; */
    --primary: #fddc74;
    --primary2: #ffc107;
    --secondary: #f68c08;
    --primary-bg: #fff7be;
    --secondary-bg: #fff7e8;
    --bg: #fff7e8;
    --black: rgb(37, 37, 37);
    --white: #fff;
    --border: 0 1px 2px #ddd;
    --color: #444;
    --background: #fafafa;
    --shadow: 2px 2px 0px rgba(5, 20, 50, .1);
}

e-player {
    /* 主题色 默认为 clicli 同款基佬紫*/
    --theme: var(--primary);
    /* 进度条底色 一般不用设置 */
    /* --progress: rgba(255, 255, 255, 0.3); */
    /* 进度条偏移颜色 一般不用设置 */
    /* --buffer: rgba(255, 255, 255, 0.6); */
    /* 图标颜色 一般不用设置 */
    /* --icons: rgba(255, 255, 255, 0.6); */
}

.flex {
    display: flex;
}

button {
    background: var(--primary);
    color: #555;
    padding: 5px 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

a {
    color: var(--color);
    text-decoration: none
}

a:hover {
    color: var(--primary);
}

h3 {
    padding: 20px;
}

li {
    list-style: none;
}

h1 {
    font-size: 28px;
    font-weight: normal;
    padding: 20px 10px;

}

.icon-close{
    background: #ddd;
    border-radius: 17px;
    color: #666;
    font-size: 20px;
}

main {
    margin: 0 auto;
    /* background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #f0f0f5 140px), fixed 0 0 /20px 20px radial-gradient(#d0d0d0 1px, transparent 0), fixed 10px 10px /20px 20px radial-gradient(#d0d0d0 1px, transparent 0); */
}

.global-loader {
    height: 3px;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 9999;
}

.global-loader .global-loader-fill {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200%;
    transform: translateX(0);
    opacity: 0;
    transition: transform 2s ease, opacity 1s ease;
    background: linear-gradient(to right, var(--secondary) 0%, var(--primary) 99%, white 100%);
}

.global-loader.is-initing .global-loader-fill {
    transition: none;
    opacity: 1;
    animation: Indeterminate 5s ease-out;
    animation-fill-mode: forwards;
}

.global-loader.is-loading .global-loader-fill {
    transition: none;
    opacity: 1;
    animation: Indeterminate 10s ease-out;
    animation-fill-mode: forwards;
}

@keyframes Indeterminate {
    0% {
        transform: translateX(-100%);
    }

    20% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0);
    }
}


@media screen and (max-width: 500px) {

    header,
    .wrap {
        width: 100vw;
        height: auto !important;
        padding: 0 !important;

    }

    header .section {
        padding: 0 !important;
        border: 1px dashed var(--primary) !important;
        padding: 0 10px !important;
        border-radius: 0px !important;
        box-sizing: border-box;
    }

    header .bio{
        /* display: none!important; */
    }

    .h{
        display: none!important;
    }

    .recommend ul li{
        width: 33.3%!important;
    }

    .menu{
        padding-right: 10px;
    }

    header .top h1{
        display: none;
    }

    .bio.right{
        min-width: auto!important;
        max-width:  auto!important;
        padding-right: 10px;
    }

    .search input{
        width: auto!important;
    }



    .play .player, .play .ep-wrap{
        width: 100%!important;
        box-sizing: border-box;
    }

    .center {
        max-width: 100vw !important;
        margin: 0 !important;
    }

    header .wrap {
        width: 100% !important;
    }

    /* .right {
        display: none;
    } */

    .wrap {
        width: 100% !important;
    }



    .container.flex, .wrap.flex{
        display: block!important;
    }

    .center{
        min-height: auto!important;
    }

    .container .right{
        min-width: 100%;
        
    }
    .container .play-right{
        margin: 10px;
    }

    button{
        padding: 5px 10px;
    }

}