.rank {
    width: 280px;
}

.rank .title {
    padding: 0 10px;
}

.rank .cover,
.rank .cover img {
    height: 100px;
    width: 100px;
    border-radius: 8px;
    object-fit: cover;
}

.rank .current {
    display: flex;
    position: relative;
    padding: 0 10px 15px 10px;
}

.rank .current .title {
    font-size: 16px;
}

.rank .current .bom {
    position: absolute;
    display: flex;
    align-items: baseline;
    bottom: 12px;
}

.rank .current .bom .tag {
    font-size: 12px;
    padding: 0 10px;
    color: #bbb;
}

.rank .current .bom .idx {
    font-size: 60px;
    color: var(--primary);
    font-weight: bold;
    position: relative;
    bottom: -18px;
}

.rank li {
    display: flex;
    padding: 8px 10px;
    cursor: pointer;
    position: relative;
}

.rank li span {
    font-size: 16px;
    font-weight: bold;
    color: #bbb;

}

.rank li .active {
    color: var(--primary);
}

.rank .top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.rank .top ul {
    display: flex;
}

.rank .top .active {
    color: var(--primary);
    font-weight: bold;
}


.rank .top li {
    position: relative;
    padding: 4px;
}

.rank .top li::after{
    content: "/";
    padding-left: 8px;
    color: #eee;
}

.rank .top li:last-child:after{
    display: none;
}