.recommend ul{
    width: 100%;
}

.recommend ul li{
    display: inline-block;
    width: 20%;
    padding: 10px;
    margin: 0!important;
    cursor: pointer;
}

.recommend ul li .cover{
    width: 100%;
}

.recommend ul li .cover img{
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 1;
    object-fit: cover;
}

.recommend .title{
    height: 40px;
    overflow: hidden;
}

.recommend section{
    margin: 10px;
}